label {
  display: block;
}

#custom-content {
  display: none;
  position: absolute;
  top: 222px;
  left: 85px;
  text-align: center;
  height: 120px;
  min-width: 70px;
  max-width: 70px;
}

#custom-content__name {
  font-size: 8px;
  font-weight: bold;
  max-height: 24px;
  height: 20px;
  overflow: hidden;
}

#custom-content__img {
  height: 60px;
  overflow: hidden;
}

#custom-content__msg {
  margin-top: 3px;
  font-size: 5px;
  font-weight: 400;
  height: 40px;
  min-height: 40px;
  /* width: 50px; */
  overflow: hidden;
  text-align: center;
  word-break: break-all;
}

#box-img {
 transform: rotate(90deg);
  /* background: url(./image/abox.jpg) fixed center /cover; */
  height: 800px;
  width: 1000px;
}


#custom-content2{
    top:162px;
    left:152px;
    width: 80px;
    text-align: center;
}

#custom-content2__name{
    font-size: 6px;
    font-weight: 700;
    height: 20px;
    overflow: hidden;
}
#custom-content2__img{
    height: 40px;
    width: 50px;
    min-height: 40px;
    min-width: 50px;
    max-height: 40px;
    max-width: 50px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

#custom-content2__msg{
    margin-top: 3px;
    height: 30px;
    font-size: 6px;
    font-weight: 400;
    overflow: hidden;
}